@import "tailwindcss";

@theme {
  --color-bg: #FAF4EA;
  --color-surface: #F1E7D6;
  --color-ink: #211934;
  --color-muted: #8C8478;
  --color-coral: #FF8F65;
  --color-peach: #FFD3AC;
  --color-indigo: #241546;
  --color-border: #E3D8C5;

  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-fraunces);
}

@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}